.regBlock{


    padding: 5PX;
    margin: 5PX;
    border: 1PX ;
    width: 15CM;
    height: 15CM;
    background-image: url(https://cdn.pixabay.com/photo/2016/09/16/19/19/online-store-1674907__340.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    text-decoration: double;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 15PX;
    box-shadow:  15PX 15PX 10PX 5PX  rgb(20, 73, 94);
   
    position: relative;
    left: 30%;
    
    
}
li{
    padding: 8PX;
    margin: 8PX;
}
.block{
    padding: 5px;
    margin: 5px;
    width: 4cm;
    height: 3cm;
    
    text-align: center;
    list-style: none;
    position: relative;
    top: 225px;
    left: 4.5cm;
    border-radius: 20px;
    font-size: smaller;
    text-align: center;
}