.container{

    background-image:url(https://static.vecteezy.com/system/resources/previews/005/454/872/original/mobile-phone-represent-of-front-of-shop-store-shopping-online-on-website-or-mobile-application-concept-marketing-and-digital-marketing-free-vector.jpg) ;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 2cm solid black;
    height: 10cm;

   


     
     
}