body {
  background: #222;
}

div.main {
  background: #fff;
  width: 1200px;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
  top: 40px;
  height: 600px;
}

h1 {
  font-family: 'Lato', sans-serif;
  position: absolute;
  left: 120px;
  top: 40px;
}

div.form {
  width: 400px;
  position: absolute;
  left: 100px;
  top: 150px;

}

form input[type=text],
input[type=password],
input[type=email],
input[type=submit] {
  padding: 15px;
  position: relative;
  left: 20px;
  width: 300px;
  border-radius: 5px;
  top: 20px;
  margin-bottom: 20px;
  display: block;
}

input[type=submit] {
  background: #3b71ca;
  color: #fff;
  width: 200px;
}

div.img {
  border: 1px solid black;
  width: 650px;
  height: 395px;
  position: absolute;
  left: 501px;
  top: 168px;
  background: url('../img/shop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}