#card{
    border:2px solid black;
    width:200px;
    box-shadow:3px 2px 3px gray;
    padding:5px;
    margin:5px;
    text-align:center;
}
#container{
    display:flex;
    flex-wrap:wrap;
    /* flex-direction: row; */
}
#card-header{
    background-color:gray;
    color:white;
    font-size:20px;
    text-align:center;
    border-radius:10px;
    /* padding:5px; */
}
button{
    width:100%;
    font-size: 20px;
    background-color:tomato;
    color:white;
    border-radius:10px;
}
p{
    color:orange;
}
h2{
    border:2px solid;
    border-radius:10px;
    width:200px;
    background-color:#1b1b32;
    color:white;
    text-align: center;
    padding:10px;
    border:none;
}