<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Future Group of Institutions</title>
        <link rel="icon" href="image/symbol.jfif">
        <link rel="stylesheet" href="/UI full stack developement/webApplicatoin/public/Project1/css/css.css"> 
        <link rel="stylesheet" href="/UI full stack developement/webApplicatoin/public/Project1/css/style.css"> 
        <link rel="stylesheet" href="/UI full stack developement/webApplicatoin/public/Project1/css/aboutFuture.css"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
        
            <div class="menu-bar">
    <ul>
        <li class="active"><a href="homePageFuture.html">Home</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="#">About future intitutions</a></li>
                    <li><a href="#">Vsion & Mission</a></li>
                    <li><a href="#">Chairman's message</a></li>
                    <li><a href="#">Group director message</a></li>	
                    <li><a href="#">trustee message</a></li>	
                    <li><a href="#">Award and achivement</a></li>
                    <li><a href="#">Campus infrastructure</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#">Institions</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="FIET.html">Future Institute of Engineering and Technology</a></li>
                    <li><a href="FIMS.html">Future Institute of Management and Studies</a></li>
                    <li><a href="FOPFIMS.html">Faculty of Pharmacy & Future Institute of Medical Sciences</a></li>
                    <li><a href="FIMS2.html">Future Institute of Medical Sciencea</a></li>
                    <li><a href="FIAMS.html">Future Institute of Ayurvedic Medical Science</a></li>	
                    <li><a href="FIP.html">Future Institute of Pharmacy</a></li>
                </ul>
            </div>
        
        </li>
        <li><a href="#">Academics</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="#">Teaching methods</a></li>
                    <li><a href="#">Senior leadership team</a></li>
                    <li><a href="#">faculty</a></li>
                    <li><a href="#">Industry interection</a></li>	
                    <li><a href="#">Seminar</a></li>
                    <li><a href="#">Academics support</a></li>
                    <li><a href="#">Previous papers</a></li>
                </ul>
            </div>
        </li>
        <li><a href="Link1">Courses</a>
            <div class="sub-menu-1">
                <ul>
                    <li class="hover-me"><a href="Link1">B.Tech</a>
                        <div class="sub-menu-2">
                            <ul>
                                <li><a href="Link1">Electical Engineering</a></li>
                                <li><a href="Link1">Electrical and Electronics Engineering</a></li>
                                <li><a href="Link1">Civil Engineering</a></li>
                                <li><a href="Link1">Mechanical Engineering</a></li>
                                <li><a href="Link1">Computer Science Engineering</a></li>
                                <li><a href="Link1">Information technology Engineering</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="Link1">Diploma in Engineering</a></li>
                    <li><a href="Link1">Paramedical</a></li>
                    <li><a href="Link1">MCA</a></li>	
                    <li><a href="Link1">BCA</a></li>
                    <li><a href="Link1">MBA</a></li>
                    <li><a href="Link1">BBA</a></li>
                    <li><a href="Link1">D.Pharma</a></li>
                    <li><a href="Link1">B.Pharma</a></li>
                    <li><a href="Link1">B.Ed</a</li>
                    <li><a href="Link1">BTC</a></li>
                    <li><a href="Link1">BAMS</a></li>
                </ul>
            </div>
        </li>
        <li><a href="Link1">Admissions</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="Link1">Admission procedure</a></li>
                    <li><a href="Link1">Eligibility & Fee structure</a></li>
                    <li><a href="Link1">Education Loan</a></li>
                    <li><a href="Link1">Scholarship</a></li>	
                    <li><a href="Link1">Application Form</a></li>
                    <li><a href="Link1">Apply Now</a></li>
                </ul>
            </div>
        </li>
        <li><a href="Link1">Plecements</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="Link1">Industrail Tour</a></li>
                    <li><a href="Link1">Recruiters</a></li>
                    <li><a href="Link1">Alumni</a></li>
                </ul>
            </div>
        </li>
        <li><a href="Link1">Campus Life</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="Link1">Campus life</a></li>
                    <li><a href="Link1">Clubs</a></li>
                    <li><a href="Link1">Facilities</a></li>
                    <li><a href="Link1">Accommodation</a></li>	
                    <li><a href="Link1">Events</a></li>
                    <li><a href="Link1">Photo galary</a></li>
                </ul>
            </div>
        </li>
        <li><a href="registrationPage.html">Registration</a>
        </li>
    
    </ul >
    </div><br/>
    </header>
                <!---------------------------------header part(static portion for all pages for this) ends here....-->

    <div class="imagediv"><img class="image1" src="https://futureinstitutions.org/wp-content/uploads/2022/01/777.jpg" alt="future institure of engineering and technology"></div>  <br>
    </body>
    <pre class="preClass">
    ABOUT
    FUTURE GROUP OF INSTITUTIONS</pre>
    <div class="aboutFuture">
    <p>
        <strong>Future Group of Institutions</strong> is located at 18 km, Nh-24 Bareilly-Lucknow Road, near Faridpur, Bareilly, Uttar Pradesh. The Future Group of Institutions operates under the auspices of Shree Rajendra Kumar Gupta Memorial Trust. 
    </p><br>
    <p>
        We at the <strong>Future University Bareilly</strong> believe that “The beautiful thing about learning is nobody can take it away from you!”.
    </p>
    <p>
        We are also <br>    
        <a href="FIET.html">FIET </a>- Future Institute of Engineering and Technology <br>
        <a href="FIMS.html">FIMS</a> - Future Institute of Management and Studies <br>
        <a href="FOPFIMS.html">FOPFIMS</a> - Faculty of Pharmacy Future Institute of Medical Sciences <br>
        <a href="FIMS2.html">FIMS </a>- Future Institute of Medical Sciences <br>
        <a href="FIAMS.html">FIAMS </a>- Future Institute of Ayurvedic Medical Sciences <br>
        <a href="FIP.html">FIP </a>- Future Institute of Pharmacy <br>
    </p>
    </div> 
    <div class="image2">
    </div>
    <div class="heading1">
        <h2>Technical Collaborations & Partnerships</h2> <br>
        <p>
            We stress on quality education and produce industry-trained candidates. Collaborations are an essential part of professional courses. They bring us the much needed expertise and technological edge over other students. 
        </p><br>
        <p>
            Future College, which is one of top 10 colleges in U.P., has technical collaboration with IBM, where IBM imparts industrial training and certification to our B Tech and BCA students. A designated team from IBM provides training for all undergraduate students in engineering and computer applications.
        </p> <br>
        <h2>Personality Development</h2> <br>
        <p><strong>Future College Bareilly</strong> organizes group learning activities for its students to improve their emotional intelligence. It helps turn an average student into a lifelong winner and industrial leader.</p><br>
        <h2>Faculty</h2> <br>
        <p>At <strong>Future Institute</strong>, we cherry-pick industry-trained, highly qualified & experienced faculty members. Currently, we have 100+ faculty members in different departments comprising lecturers, professors, and assistant professors. Apart from that, we also invite renowned academicians as guest faculty from the leading institutions of India.</p> <br>
        <h2>Campus</h2> <br>
        <p>The sprawling campus spreads over an area of 30 acres on Bareilly-Lucknow highway in a naturally green & peaceful surroundings. It’s 18 km away from Satellite Bus Station, Bareilly. 
        <br>
        The campus’s lush green environment, beautiful department buildings and state-of-the-art labs inspire young students to make the most of the learning opportunities.</p> <br>
        <h2>Developing Corporate Leaders</h2> <br>
        <p>As the term “future” itself suggests, Future Institute, one of <strong>top 10 colleges in Bareilly</strong>, believes in futuristic possibilities and developing future leaders. 
        <br>
        At <strong>Future Institute</strong>, we emphasize stress-free learning, and you can only achieve it by creating an environment that stimulates creativity and fun learning.
        <br>
        Highly experienced faculty members keep themselves updated with latest industry trends and practices.
        <br>
        Future Institute’s education and learning systems help cultivate analytical and solution oriented thinking. It makes us one of the <strong>best ranked engineering colleges in India</strong>.</p> <br>
        <h2>Alumni</h2><br>
        <p>We have a 12,000+ global alumni-base employed in the leading companies and organizations worldwide. 
        <br>
        Needless to say that Future Institute is one of the <strong>best institutes for engineering in India</strong>. Our alumni work in more than 50 countries, many in Fortune 500 companies.</p> <br>
        <h2>Education Methodology</h2><br>
        <p>We stress on experiential learning rather than text-book based knowledge.
        
        We provide our students extensive exposure to diverse fields through meticulously developed learning tools.  
        <br>
        Apart from subject knowledge, we train our students in leadership development. In these training sessions, Future Institute puts them in situations that hone their decision-making skills. 
        <br>
        These skill development sessions are highly beneficial in tackling real-life problems in the corporate sector.</p><br>
    </div>
    <h2 class="heading1">Why Choose Us?</h2>
    <hr>    
    <div class="imgFlex">
        <div><img src="https://futureinstitutions.org/wp-content/uploads/2022/02/WhatsApp-Image-2022-01-27-at-11.07.54-3-768x651.jpeg" alt="fleximage1"> <p>Best Engineering Institute Award - Global Excellence Forum</p> </div>
        <div class="flex2"><img src="https://futureinstitutions.org/wp-content/uploads/2022/02/WhatsApp-Image-2022-01-27-at-11.07.54-4-300x254.jpeg" alt=""> <p>High Experienced & Renowned Faculty Members</p></div>
        <div class="flex3"> <img src="https://futureinstitutions.org/wp-content/uploads/2022/02/WhatsApp-Image-2022-01-27-at-11.07.54-2-300x254.jpeg" alt=""> <p>Industrial Tie Up with 100+ Top Industries</p></div>
        <div class="flex4"> <img src="https://futureinstitutions.org/wp-content/uploads/2022/02/WhatsApp-Image-2022-01-27-at-11.07.54-300x254.jpeg" alt=""> <p>Outstanding Performance Award by Network 18</p></div> 
    </div>
    <br><br>
    <div style="display: flex; gap: 70px; color: rgb(90, 7, 7); text-align: center; background-color: black; ;">
        <div style="margin-left: 180px; ">
            <h1>Academics</h1><br>	
            <p>B.Tech</p>
            <p>MBA</p>
            <p>MBBS</p>
            <p>Pharma</p>
            <p>Polytechnic</p>
        </div>
        <div>
            <h1>Faculty</h1><br>
            <p>Mr. Amit Chandra</p>
            <p>Dr. M K Singh</p>
            <p>Mr. Tanveer Ali Khan</p>
            <p>Mr. Promod Kumar</p>
            <p>Mr. Thomas Kurian</p>
        </div>
        <div>
            <h1>Future</h1><br>
            <p>Future institute of Engg and Tech</p>
            <p>Future intitute of Management and studies</p>
            <p>Future institute of Pharm</p>
            <p>Future institute of paramedical sciences</p>
            <p>polytechnic</p>
        </div>
        <div style="margin-right: 180px;">
            <h1>Contact</h1><br>
            <a href="#" style="color:rgb(90, 7, 7);">+917037408342</a><br>
            <a href="C:\Users\Hp\Desktop\IT\Project1\query.html"  style="color:rgb(90, 7, 7);">For Query</a><br>
            <a href="#" style="color:rgb(90, 7, 7);">@yashu024</a><br>
            <a href="mailto:raoyashwant024@gmail.com;" style="color:rgb(90, 7, 7);" >Mail Us </a> <br>
    
            
        </div>
    </div>
    
</html>