* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h3 { 
   margin-top: 250px;
    text-align: center;
}

.containers {
    border: 4px solid palevioletred;
    padding: 10px;
    margin: 10px;
    width: 400px;
    color: rgb(177, 12, 67);
    text-align: center;
}

li {
    list-style: none;
    border: 1px solid palevioletred;
    margin: 10px;
    padding: 10px;
}

button {
    margin-left: 400px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid palevioletred;
    color: rgb(177, 12, 67);
    cursor: pointer;
}

.flowerInformation{
    border: 4px solid palevioletred;
    width: 400px;
    margin-left: 420px;
    margin-top: -490px;
    color: rgb(177, 12, 67);
    display: none;
}
.flowerInformation h3{
    width: 380px;
}