* {
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

h3 {
    border: 1px solid #ccc;
    margin: 5px auto;
    padding: 8px;
    width: 365px;
    border-radius: 50px;
    text-align: center;
    color: hotpink;
    background-color: black;
}

#mainul {
    border: 3px solid red;
    margin: 5px auto;
    padding: 5px;
    width: 400px;
    list-style: none;
    background-color: lightskyblue;
}

li {
    border: 1px solid black;
    padding: 5px; 
    margin: 5px;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.mainbutton input {
    text-align: center;
    width: 180px;
    padding: 8px;
    background-color: red;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    text-align: center;
    margin-left: 90px;

}

.mainbutton input:hover {
    cursor: pointer;
    background-color: green;
}

input {
    padding: 6px;
    outline: none;
}

.employeepaydetails {
    border: 3px solid red;
    width: 400px;
    padding: 5px;
    margin: 10px auto;
    list-style: none;
    display: none;
    background-color: lightskyblue;
}

.employeepaydetails span {
    color: royalblue;
}
