body {
  background-image: url("../images/forgetBg.png");
  background-size: 1245px 698px;
}
.navigation {
  border: 1px solid;
  height: 50px;
  background-color: black;
}
.navlist {
  color: white;
  font-weight: 700;
  font-size: 20px;
  font-style: oblique;
  position: relative;
  top: 8px;
}
a {
  color: white;
  list-style: none;
  text-decoration: none;
}
#search {
  border-radius: 8px;
  width: 500px;
  height: 30px;
}
.key {
  float: left;
}
.p1 {
  position: relative;
  left: 50px;
}
.p2 {
  position: relative;
  left: 75px;
}
.p3 {
  position: relative;
  left: 550px;
}
.p4 {
  position: relative;
  left: 575px;
}
.p5 {
  position: relative;
  left: 600px;
}
.container {
  border: 2px solid;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 15px;
  width: 388px;
  position: relative;
  top: 150px;
  box-shadow: 10px 8px;
}
#btnsubmit {
  background-color: green;
  position: relative;
  left: 100px;
  border-radius: 5px;
}
li {
  list-style: none;
}
.lable,
.content {
  float: left;
}
.lable {
  width: 100px;
}
.next {
  clear: left;
  padding-top: 15px;
}
